@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira+Stencil+One&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat","Instrument Sans","Saira Stencil One",sans-serif,"Caveat", cursive;
   
}
body{
  background: #191818;
  color:#f1f1f1;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color:#f1f1f1;
}

.whatsapp-ref{
  font-family:Caveat;
}
.section_heading{
  color: #9CFF1E;
}
.headernav{  
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 30px;
}
.icon{
  font-family: Saira Stencil One;
  color:#f1f1f1;
}
/* navigation side menu starts */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #191818;
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
  }
  
  .bar{
    color:#F2F1EB;
    font-size:30px;
    cursor:pointer;
  }
/* navigation side menu ends */

/* text animtions starts */
.hidden {
    opacity: 0;
    filter: blur (5px);
    transform: translateX(-100%);
    transition: all 1s;
    }
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    }
    /* text animtions ends */

 /* button styles stats */
 .button1{
  padding: 0.8em 1.8em;
  border: 2px solid #9CFF1E;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family:Instrument Sans;
  color: #9CFF1E;
 }
 
 .button1::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #f1f1f1;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .button1:hover::before {
  width: 105%;
 }
 
 .button1:hover {
  color: #111;
  border: 2px solid #f1f1f1;
 }
 
 /* 2nd buttons starts */
     .button {
      width:100%;
        font-weight: 600;
        display: inline-block;
        position: relative;
        border: 3px solid #fff;
        padding: 15px 60px;
        font-family:Instrument Sans;
        font-size: 16px;
        color:#ffff;
        background-color:#0000;
        ;
      }
      
      .button::after, .button::before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        transition: .5s;
      }
      
      .button::after {
        top: -3px;
        left: -3px;
        border-top: 3px solid transparent;
        border-left: 3px solid transparent;
      }
      
      .button::before {
        bottom: -3px;
        right: -3px;
        border-bottom: 3px solid transparent;
        border-right: 3px solid transparent;
      }
      
      .button:hover {
        color: #9cff1e;
        cursor: pointer;
      }
      
      .button:hover::after,
      .button:hover::before {
        width: calc(50% + 3px);
        height: calc(50% + 3px);
        border-color: #9CFF1E;
      }
      /* 2nd buttn ends */
/* button styles ends */

 /* custom scroll bar  starts*/
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #B0A695;
}
::-webkit-scrollbar-thumb{
  background: #434242;
  border-radius: 40px;
}
 /* custom scroll bar ends */

.hero{
  background-image: 
                linear-gradient(45deg,  
                rgb(0, 0, 0),  
                rgba(147, 145, 145, 0.342)), 
                url( 
'./assets/main.jpg'); 
            height: 600px; 
            background-repeat: repeat-x; 
            background-position: center;
            background-size: cover;
}

.first{
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 4px;
}
.last{
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 4px;
}
.content{
  font-family:'Instrument Sans' ;
}
.cap{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-content{
  font-family:'Instrument Sans' ;
  font-size: 16px;
  line-height: 25px;
}
/* card starts */
.card-title{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.card-body{
  height:80px;
}
.wrapper{
background-color: #191818;

}
.wrapper:hover{
  transition: all 0.5s linear;
box-shadow: rgb(255, 255, 255) 0px 5px 15px;}
.card-img-top{
 padding:5px;
}

.logo:nth-child(2){
 transition-delay:400ms;
}
.logo:nth-child(3){
  transition-delay:500ms;
 }
 .logo:nth-child(4){
  transition-delay:600ms;
 }

/* card ends */

.about{
  width: 550px;
}
/* testimonial starts */
.box-area{
padding: 30px;
position: relative;
display: block;
border: #f1f1f1 1px solid;
border-radius: 10px;
margin: 40px 0;

}
.box-area h6{
  font-size: 14px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 5px;
  text-transform: uppercase;
  Letter-spacing: 1px;
}
.box-area span{
color: #262626;
display: block;
font-size: 13px;
margin: 0 0 10px;
font-weight: 400;
}
.box-area .img-area{
width: 60px;
height: 60px;
position: absolute;
top: -40px;
Left: 0;
bottom: 0;
margin: 0 auto;
right: 0;
z-index: 1;
border: 5px solid 1#fff;
border-radius: 50%;
box-shadow: 0 5px 4px rgba(0,0,0,0.5);
}
.box-area .img-area img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.socials{
  margin-top:30px;
  cursor: pointer;
}
.socials i{
  margin: 0 10px;
  font-size:18px;
}
.contact_heading{
  font-size:55px;
  font-weight:700;
}
.socials :hover{
  color: #9CFF1E;
}
#testimonial_area .owl-nav{
  position:absolute;
  top:50%;
  width:100%;
}
#testimonial_area .owl-prev,#testimonial_area .owl-next{
  width: 40px;
  height:40px;
  line-height: 40px;
  color:  #191818;
border-radius: 50%;
text-align: center;
background:#9CFF1E;
position: absolute;
}
#testimonial_area .owl-prev{
  left:-60px;
  top:-30px;
}
#testimonial_area .owl-next{
  right:-60px;
  top:-30px;
}
/* testmonial ends */

.gwrapper{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 15px;
  height: 400px;
}

.item {
  border:1px solid #f1f1f1;
  border-radius: 10px;
}
 .item .item-content{
  font-family:'Instrument Sans';
  padding:10px;
}
.number{
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 4px;
  color: #f1f1f1;
  padding: 10px;
}
/* form style */
.input-wrapper {
  position: relative;
  width: 100%;
  margin: 50px auto;
}

.input-box {
  font-size: 16px;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  color: #f1f1f1f1;
  width: 100%;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #9cff1e;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.input-box:focus {
  border-color: #9cff1e;
  outline: none;
}

.input-box:focus + .underline {
  transform: scaleX(1);
}

/* form style */
footer{
  background-color:#191818;
}
.footer a {
  padding:0 8px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
 
  transition: 0.3s;
}
.footer h1{
  padding: 8px;
  font-size: 14px;
  color: #ffff;
}
.footer a:hover {
  color: #f1f1f1;
}
 .footer-cap{
  font-size:14px;
  padding-left: 40px;
}
.footer-icon{
  font-family: Saira Stencil One;
  color:#f1f1f1;
  font-size:28px;
  padding-left: 40px;
}
.footer h6{
  font-size:12px;
  padding-left: 40px;
  padding-right: 40px;
}
 @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  @media screen and (max-width:1180px){
    .hero{
        height:400px;
    }
    .first {
         font-size:35px;
    }
    .last{
      font-size:35px;
    }
    .cap{
        
        font-size: 18px;
    }
    .about{
      width:480px;
    }
    .owl-nav{
      display: none;
      }
  }
    @media screen and (max-width: 767px) {
    .owl-nav{
    display: none;
    .box-area{
    text-align: center;
    }
  }
  .about{
    width:330px;
  }
  .gwrapper{
   
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    height: 700px;
  
  }
  .footer-icon, .footer-cap{
    text-align: center;
    padding-left: 0;
  }
  .footer h6{
    font-size:10px;
    padding-left: 0;
    padding-right: 0;
  }
  .contact_heading{
    font-size: 45px;
  }
  
}